@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,300&family=Orbitron:wght@400;700;900&display=swap");

* {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img img {
  width: 50vw;
  margin-top: 25vh;
}

.img {
  width: 100vw;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  height: 100vh;
  width: 100vw;
  background-image: url("./../public/3slbigbu.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  filter: blur(4px);
  margin: 5px -10px -10px -5px;
  overflow: hidden;
}

.Introd {
  margin: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2.5%;
  background-color: black;
  box-shadow: 0px 0px 15px 5px #000000;
  color: white;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1em;
  text-align: justify;
  text-align-last: center;
  hyphens: auto;
  position: relative;
  overflow: hidden;
}

#booking {
  height: 50vh;
  border: 1px solid black;
}

#site-container {
  background-image: url("./../public/background.jpg");
  background-size: cover;
}

#booking {
  background-image: url("./../public/background.jpg");
  background-size: cover;
  height: 100vh;
}

#forms-div {
  position: relative;
  top: 25%;
  color: white;
  border: 1px solid black;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 5px #000000;
}

#forms-div form {
  margin-bottom: 30px;
}

#forms-div input {
  width: 25%;
  display: inline;
  text-align: center;
  font-family: "Montserrat";
}

#forms-div div {
  font-family: "Montserrat";
  font-size: 1.25em;
  margin-bottom: 5px;
}

#forms-div button {
  font-size: 1em;
  width: 25%;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 0;
  font-family: "Montserrat";
}

#menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.25em;
  text-align: center;
  color: white;
}

#menu-container h2,
#menu-container p {
  margin: 0;
}

#menu-container h2 {
  font-family: "Orbitron";
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #03e9f4;
}

#menu-container p {
  font-weight: 300;
  font-size: 0.8em;
  font-family: "Montserrat";
  text-transform: capitalize;
  margin-bottom: 5px;
}

#booking-btn {
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 25px;
  border: 0;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  background: black;
  color: #03e9f4;
  text-shadow: 2px 2px 2px black;
  font-family: "Orbitron";
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5em;
  cursor: pointer;
  transition-duration: 0.75s;
  position: relative;
  overflow: hidden;
}

#booking-btn span {
  position: absolute;
  display: block;
}

#booking-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 5s linear infinite;
}

#booking-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 5s linear infinite;
  animation-delay: 1.25s;
}

#booking-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 5s linear infinite;
  animation-delay: 2.5s;
}

#booking-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 5s linear infinite;
  animation-delay: 3.75s;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

#booking-btn:hover {
  background: #03e9f4;
  color: black;
  box-shadow: 0px 0px 15px 5px #03e9f4;
  text-shadow: 2px 2px 2px #03e9f4;
}

.menu {
  border-top: none;
  border-bottom: none;
  padding: 20px;
}

@media screen and (max-width: 960px) {
  #menu-container {
    grid-template-columns: 1fr;
  }

  .Introd {
    font-size: 1em;
    padding: 25px;
  }
}
